body {
  background-color: #909090;
}

#video {
  border: 2px solid black;
  width: 600px;
  height: 800px;
  margin: auto;
  display: block;
  background-color: black;
  overflow: hidden;
}

#startButton {
  display: block;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  bottom: 120px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 75%;
  height: 75%;
}
  
#canvas {
  display:none;
}
  
.output {
  width: 1024px;
  height: 768px;
  display:inline-block;
}
  


.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 100vw;
  position: relative;
}


@keyframes image_blur {
  0% { filter: blur(0px);}
  50% { filter: blur(4px);}
  100% { filter: blur(0px);}
}

.focus {
  animation: image_blur 1s; 
}